<div class="modal-header">
    <h4 class="modal-title">
        Add {{ vm.itemName }}
    </h4>
</div>
<div class="modal-body">
    <form name="addItemForm">
        <edit-control mode="text" name="name" model="vm.name" display-name="{{vm.itemName}} Name" class="form-group" required="true"></edit-control>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-click="vm.submit()">Save</button>
</div>